<template name="completedWorkouts">

    {{> pageHeading title='Completed Workouts' }}

    <div class="wrapper wrapper-content animated fadeInUp">

        <div class="ibox">
            <div class="ibox-title">
                <h5>Completed Workouts</h5>

                <div class="ibox-tools">
                    <!--<a href="" class="btn btn-primary btn-xs">Create new project</a>-->
                </div>
            </div>
            <div class="ibox-content">
                <div class="row m-b-sm m-t-sm">
                    <div class="col-md-2">
                        <h4>Filter By:</h4>

                        <!--<button type="button" id="loading-example-btn" class="btn btn-white btn-sm" ><i class="fa fa-refresh"></i> Refresh</button>-->
                    </div>
                    <form class="form-inline">
                        <div class="col-md-4">

                            <label for="month">Month <input class='form-control' id="monthFilter" type="month"/></label>
                            <!--<div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">-->
                            <!--<button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>-->
                        </div>
                        <div class="col-md-3">
                            <label for="">Program Name

                            <select class="form-control" id="programSelect" name="Program">
                                <option value="" selected></option>
                                <option value="None">No Program</option>

                                {{#each programs}}
                                    <option class="programSelect" value="{{_id}}">{{name}}</option>
                                {{/each}}
                            </select>
                            </label>
                            <!--<div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">-->
                            <!--<button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>-->
                        </div>
                    </form>
                </div>

                <div class="project-list">

                    <table class="table table-hover">
                        <tbody>
                        {{#each completedWorkouts}}

                            {{#if programName}}
                                <tr>
                                    <td class="project-status">
                                        <span class="label label-primary">{{programName}}</span>
                                    </td>
                                    <td class="project-title">
                                        <a href="/completedWorkouts/{{_id}}">Workout  {{workoutNum}}
                                            of {{numWorkouts}} in {{programName}}</a>
                                        <br/>
                                        <!--<small>Created 14.08.2014</small>-->
                                    </td>
                                    <td class="project-completion">
                                        <small>Completed {{dateFinished}}</small>
                                        <!--<div class="progress progress-mini">-->
                                        <!--<div style="width: 48%;" class="progress-bar"></div>-->
                                        <!--</div>-->
                                    </td>
                                    <td class="project-people">

                                    </td>

                                    <td class="project-actions">
                                        <a href="/completedWorkouts/{{_id}}" class="btn btn-white btn-sm"><i
                                                class="fa fa-folder"></i> View </a>
                                        <!--<a href="#" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit </a>-->
                                    </td>

                                </tr>
                            {{else}}
                                <tr>
                                    <td class="project-status">
                                        <span class="label label-default">No Program</span>
                                    </td>
                                    <td class="project-title">
                                        <a href="/completedWorkouts/{{_id}}">Non Program Workout</a>
                                        <br/>
                                        <!--<small>Created 14.08.2014</small>-->
                                    </td>
                                    <td class="project-completion">
                                        <small>Completed {{dateFinished}}</small>
                                        <!--<div class="progress progress-mini">-->
                                        <!--<div style="width: 48%;" class="progress-bar"></div>-->
                                        <!--</div>-->
                                    </td>
                                    <td class="project-people">

                                    </td>

                                    <td class="project-actions">
                                        <a href="/completedWorkouts/{{_id}}" class="btn btn-white btn-sm"><i
                                                class="fa fa-folder"></i> View </a>
                                        <!--<a href="#" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit </a>-->
                                    </td>

                                </tr>

                            {{/if}}


                        {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="wrapper wrapper-content animated fadeInRight">-->
    <!--<div class="row">-->
    <!--<div class="col-lg-12">-->
    <!--<div class="text-center m-t-lg">-->
    <!--<h2>-->
        <!--{{#each completedWorkouts}}-->
    <!--<h1>{{dateFinished}}</h1>-->
        <!--{{#each lifts}}-->
        <!--<h2>{{liftName}}</h2>-->
            <!--{{#each sets}}-->
            <!--<h3>reps: {{reps}}</h3>-->

            <!--<h3>weight: {{weight}}</h3>-->
                <!--{{/each}}-->
            <!--{{/each}}-->

        <!--{{/each}}-->
    <!--</h2>-->
    <!--<small></small>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</template>