<template name="viewOneProgram">
    {{#each program}}
        <div>
            <h2>{{name}}</h2>
            <button id="active" class="btn">Set Active</button>
        </div>

        {{#each workouts}}
            <div class="ibox float-e-margins collapsed  ">
                <div class="ibox-title collapse-link">
                    <!--{{>iboxTools}}-->
                    <h2>Workout {{workoutNum}}</h2>
                    {{#each lifts}}
                        <!--<h1>test</h1>-->
                        <h2>{{liftName}}</h2>

                        <div class="">
                            <table class="table lift">

                                <thead>
                                <tr>
                                    <th>Set #</th>
                                    <th>Reps</th>
                                    <th>Weight</th>

                                </tr>
                                </thead>

                                <tbody>
                                <!--<tr>-->
                                <!--<th scope="row"></th>-->
                                <!--</tr>-->


                                {{#each sets}}
                                    <tr>
                                        <th scope="row">{{setNum}}</th>
                                        <th><input type="number" data-setnum="{{setNum}}"
                                                   data-id={{_id}} value="{{reps}}"
                                                   class="form-control setConfig" id="reps"
                                                   placeholder="Reps"></th>
                                        <th><input type="number" data-setnum="{{setNum}}"
                                                   data-id={{_id}} value="{{weight}}"
                                                   class="form-control setConfig" id="weight"
                                                   placeholder="Weight"></th>
                                    </tr>
                                {{/each}}

                                </tbody>
                            </table>


                        </div>


                    {{/each}}

                    <!--{{>programWorkoutForm}}-->
                </div>
            </div>
        {{/each}}
    {{/each}}

    </template>