<template name="viewOneProgram">
    {{#each program}}

        <div class="row">

        </div>
        <div>
            <h2 class="inline">{{name}} </h2>
            <a href="/programs/{{_id}}/edit">edit</a>

            <form action="">
                <button id="active" class="form-control btn btn-primary">Set Active</button>
            </form>
        </div>



        {{#each workouts}}
            <div class="ibox float-e-margins collapsed  ">


                <div class="ibox-title collapse-link">
                    <!--{{>iboxTools}}-->


                    <h3>Workout {{workoutNum}}</h3>
                    {{#each lifts}}
                        <!--<h1>test</h1>-->
                        <h2>{{liftName}}</h2>

                        <div class="">
                            <table class="table lift">

                                <thead>
                                <tr>
                                    <th>Set #</th>
                                    <th>Reps</th>
                                    <th>Weight</th>

                                </tr>
                                </thead>

                                <tbody>
                                <!--<tr>-->
                                <!--<th scope="row"></th>-->
                                <!--</tr>-->


                                {{#each sets}}
                                    <tr>
                                        <th scope="row">{{setNum}}</th>
                                        <th><h4 type="number" data-setnum="{{setNum}}"
                                                data-id="{{_id}}"
                                                class="form-control setConfig" id="reps">
                                            {{#if reps}}{{reps}}{{else}}0{{/if}}</h4></th>
                                        <th><h4 type="number" data-setnum="{{setNum}}"
                                                data-id="{{_id}}" class="form-control setConfig" id="weight"
                                                >{{weight}}</h4></th>
                                    </tr>
                                {{/each}}

                                </tbody>
                            </table>


                        </div>


                    {{/each}}

                    <!--{{>programWorkoutForm}}-->
                </div>
            </div>
        {{/each}}
    {{/each}}

</template>