<template name="profile">

    <!-- Page heading -->
    {{> pageHeading title='Profile' category='App views' }}

    <div class="wrapper wrapper-content">
        <!--<div class="row animated fadeInRight">-->
        <!--<div class="col-md-4">-->
        <!--<div class="ibox float-e-margins">-->
        <!--<div class="ibox-title">-->
        <!---->
        <!--&lt;!&ndash;<input class="pull-right" type="file" name="pic" accept="image/*">&ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash;<div>&ndash;&gt;-->

        <!--&lt;!&ndash;<div class="ibox-content profile-content">&ndash;&gt;-->


        <!--&lt;!&ndash;<div class="ibox-content border-left-right">&ndash;&gt;-->
        <!--&lt;!&ndash;<img alt="image" class="img-responsive centered" src="http://placehold.it/400x300">&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->


        <!--&lt;!&ndash;<div class="user-button">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    {{>iboxTools}}
                    <h4>Statistics for {{userProfile.firstName}} {{userProfile.lastName}}</h4>
                </div>
                <div class="ibox-content">

                    <h4>Workouts Completed: {{userProfile.completedWorkouts}}</h4>
                    <h4>Cumulative Weight Lifted: {{userProfile.weightLifted}}</h4>
                </div>
            </div>

        </div>

        <!--<div class="col-md-12">-->
            <!--<div class="ibox float-e-margins">-->
                <!--<div class="ibox-title">-->
                    <!--{{>iboxTools}}-->
                    <!--<h4>Lift Maxes-->
                        <!--<a class='edit' href="">Edit</a>-->
                    <!--</h4>-->


                <!--</div>-->
                <!--&lt;!&ndash;<div class="ibox-content">&ndash;&gt;-->
                    <!--&lt;!&ndash;{{#each userProfile.liftMaxes}}&ndash;&gt;-->
                        <!--&lt;!&ndash;<h4>{{liftName}}: {{max}}</h4>&ndash;&gt;-->
                    <!--&lt;!&ndash;{{/each}}&ndash;&gt;-->


                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->

        <!--</div>-->
    </div>
    <!--</div>-->
</template>