<template name="profile">

    <!-- Page heading -->
    {{> pageHeading title='Profile' category='App views' }}

    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class="col-md-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{userProfile.firstName}} {{userProfile.lastName}}</h5>
                        <!--<input class="pull-right" type="file" name="pic" accept="image/*">-->
                    </div>
                    <div>

                        <div class="ibox-content profile-content">


                            <!--<div class="ibox-content border-left-right">-->
                                <!--<img alt="image" class="img-responsive centered" src="http://placehold.it/400x300">-->
                            <!--</div>-->


                        <div class="user-button">
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary btn-sm btn-block"><i
                                            class="fa fa-envelope"></i> Send Message
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    {{>iboxTools}}
                    <h4>Statistics</h4>
                </div>
                <div class="ibox-content">

                    <h4>Workouts Completed: {{userProfile.completedWorkouts}}</h4>
                    <h4>Cumulative Weight Lifted: {{userProfile.weightLifted}}</h4>
                </div>
            </div>

        </div>

        <div class="col-md-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    {{>iboxTools}}
                    <h4>Lift Maxes
                        <a class='edit' href="">Edit</a>
                    </h4>


                </div>
                <div class="ibox-content">
                    {{#each userProfile.liftMaxes}}
                        <h4>{{liftName}}: {{max}}</h4>
                    {{/each}}


                </div>
            </div>

        </div>
    </div>
    </div>
</template>