/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.edit{
  display: inline-block;
  margin-left: 5px;
}

.close-canvas-menu {
  display: none;
}
.centered{
  margin: 0 auto;
}
.canvas-menu .close-canvas-menu {
  display: block;
}

.light-navbar .navbar.navbar-static-top {
  background-color: #fff;
}

.lightBoxGallery {
  text-align: center;
}

.lightBoxGallery img {
  margin: 5px;
}

.setConfig {
  width: 90px;
}
.navbar-left li a{
  color:#999c9e;
}
.next-lift{
  float:right;
}
.header-center{
  text-align: center;
}