<template name="programWizard">


    <!-- Page heading -->
    {{> pageHeading title='Create Program' category='App views' }}

    {{#each programs}}
        <h1>{{name}}</h1>
        {{#each workouts}}
            <div class="ibox float-e-margins collapsed  ">
                <div class="ibox-title collapse-link">
                    {{>iboxTools}}
                    <h2>Workout {{workoutNum}}</h2>
                    {{#each lifts}}
                        <!--<h1>test</h1>-->
                        <div class="">
                            <table class="table lift">

                                <thead>
                                <tr>
                                    <th>Set #</th>
                                    <th>Reps</th>
                                    <th>Weight</th>

                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                </tr>
                                <h2>{{liftName}}</h2>

                                {{#each sets}}
                                    <tr>
                                        <th scope="row">{{setNum}}</th>
                                        <th><input type="number" data-setnum="{{setNum}}" data-id={{_id}} value="{{reps}}"
                                                   class="form-control setConfig" id="reps"
                                                   placeholder="Reps"></th>
                                        <th><input type="number" data-setnum="{{setNum}}" data-id={{_id}} value="{{weight}}"
                                                   class="form-control setConfig" id="weight"
                                                   placeholder="Weight"></th>
                                    </tr>
                                {{/each}}

                                </tbody>
                            </table>


                        </div>


                    {{/each}}

                    {{>programWorkoutForm}}
                </div>
            </div>
        {{/each}}
    {{/each}}


    <form id="program-init" action="#" class="form-horizontal col-md-offset-4 program-init">
        <h1>Program Creation</h1>
        <!--<fieldset>-->
        <!--<h2>Program Information</h2>-->


        <div class="row">
            <div class="col-lg-8">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Program Name</label>

                    <div class="col-sm-4">
                        <input id="name" name="name" type="text" class="form-control required">
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Workouts per Week</label>

                    <div class="col-sm-4">
                        <select class="form-control m-b required" name="numWorkouts" id="numWorkouts">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                        </select>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </form>




</template>