<template name="programAnalytics">

    {{> pageHeading title='Program Analytics'}}

    <div class="wrapper wrapper-content animated fadeInRight centered">
        <div class="row">
            <div class="col-lg-5 centered">
                <h3>Select a program</h3>
                <select class="form-control" name="programSelect" id="programSelect">
                    <option selected value=""></option>
                    {{#each programs}}
                        <option class="programSelect" value="{{name}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            {{#if liftNames}}
                <div class="col-lg-5">
                    <h3>Select A Lift</h3>
                    <select class="form-control" name="liftSelect" id="liftSelect">


                        {{#with liftNames}}
                            <option value=""></option>
                            {{#each liftNames}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        {{/with}}

                        <!--<option value="Bench Press">Bench Press</option>-->

                        <!--<option value="Back Squat">Back Squat</option>-->
                    </select>
                </div>
            {{/if}}
        </div>

        <div class="row">


            <div class="col-lg-12 p-lg">
                <div class="ibox float-e-margins">
                    {{#with completed}}
                        <div class="ibox-title">

                            <h5>{{liftName}}

                                <small>{{numSets}} sets of {{completed.sets.[0].reps}} reps</small>
                            </h5>
                            {{>iboxTools}}
                        </div>
                    {{/with}}
                    <div class="ibox-content" id="ibox-graph">
                        <div id="graph-container">
                            <canvas id="lineChart" height="140"></canvas>
                        </div>
                    </div>

                </div>
            </div>


        </div>


    </div>
</template>