<template name="loginModal">
    <h2 class="logo-name">LT</h2>

    <h3>Welcome to Lift Tracker</h3>

    <!--<p>Designed to easily track and monitor your weightlifting progress-->
    <!--</p>-->

    <p>Login in. And get lifting.</p>

    <form action="">
        <div class="form-group">
            <input type="email" class="form-control" id="login-email" placeholder="Username" required="">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="login-password" placeholder="Password" required="">
        </div>
        <button type="submit" id="login-button" class="btn btn-primary block full-width m-b">Login</button>

        <!--<a href="#">-->
            <!--<small>Forgot password?</small>-->
        <!--</a>-->

        <p class="text-muted text-center">
            <small>Do not have an account?</small>
        </p>

    </form>
    <a class="btn btn-sm btn-white btn-block" id="registerBut"  href="">Create an
        account</a>
    <a class="btn btn-sm btn-white btn-block" id="guestLogin"  href="">Guest Login</a>



</template>