<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <!-- End offCanvas menu toggle -->

            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">

                            <span class="clear"> <span class="block m-t-xs"> <strong
                                    class="font-bold"> {{#if email}}{{email}}{{else}}Guest{{/if}}</strong>

                             </span> <span class="text-muted text-xs block">{{#if email}}<a id='logout'
                                                                                           href="/login">logout</a>{{else}}<a
                                    data-toggle="modal" data-target="#login" class="" href="">login</a>{{/if}} </span> </span>

                        <div class="modal inmodal" id="login" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated bounceInRight">
                                    <div class="modal-header">
                                        {{>loginModal}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal inmodal" id="register" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated bounceInRight">
                                    <div class="modal-header">
                                        {{>register}}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="logo-element">
                        <!--This shows up at small screen threshold-->
                        LT
                    </div>
                </li>
                <li class="{{isActiveRoute regex='profile'}} navlink">
                    <a href="{{pathFor 'profile'}}"><i class="fa fa-user"></i> <span class="nav-label">Profile</span>
                    </a>
                </li>
                <li class="{{isActiveRoute regex='logWorkout'}} navlink">
                    <a href="{{pathFor 'logWorkout'}}"><i class="fa fa-pencil-square-o"></i> <span class="nav-label">Log Workout</span>
                    </a>
                </li>
                <li class="{{isActiveRoute regex='completedWorkouts'}} navlink">
                    <a href="{{pathFor 'completedWorkouts'}}"><i class="fa fa-list-alt"></i> <span class="nav-label">Completed Workouts</span>
                    </a>
                </li>
                <li class="{{isActiveRoute regex='programs/new'}} navlink">
                    <a href="{{pathFor 'programWizard'}}"><i class="fa fa-repeat"></i> <span class="nav-label">Create Program</span>
                    </a>
                </li>
                <li class="{{isActiveRoute regex='programs'}} navlink">
                    <a href="{{pathFor 'viewPrograms'}}"><i class="fa fa-eye"></i> <span class="nav-label">View Programs</span>
                    </a>
                </li>
                <li class="{{isActiveRoute regex='programAnalytics'}} navlink">
                    <a href="{{pathFor 'programAnalytics'}}"><i class="fa fa-line-chart"></i> <span class="nav-label">Program Analytics</span>
                    </a>
                </li>
            </ul>
        </div>

    </nav>
</template>