<template name="logWorkout">


    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2 class="page-heading">Log Workout</h2>
        </div>
        <div class="col-lg-10 col-md-offset-1">
            <div class="ibox float-e-margins col-lg-12">


                {{>workout}}
                {{>workoutForm}}


            </div>
        </div>
    </div>
    <!--<div class="wrapper wrapper-content animated fadeInRight">-->


        <!--&lt;!&ndash;<div class="col-lg-12">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="text-center m-t-lg">&ndash;&gt;-->
        <!--&lt;!&ndash;<h1>&ndash;&gt;-->
        <!--&lt;!&ndash;Welcome in INSPINIA Meteor SeedProject&ndash;&gt;-->
        <!--&lt;!&ndash;</h1>&ndash;&gt;-->
        <!--&lt;!&ndash;<small>&ndash;&gt;-->
        <!--&lt;!&ndash;It is an application skeleton for a typical Meteor web app. You can use it to quickly bootstrap your webapp projects and dev environment for these projects.&ndash;&gt;-->
        <!--&lt;!&ndash;</small>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--</div>-->
</template>